html, body {
    font-family: 'Lato', sans-serif;
}

body {
    min-height: 100vh;
    overflow-y: scroll;
    margin-bottom: 200px;
    background-color: #ededed;
}

.tags {
    margin-bottom: 80px;
    margin-top: 57px;
    h5 {
        font-size: 15px;
        color: #282121;
        margin-bottom: 15px;
    }
    span, a  {
        border-radius: 4px;
        border: solid 1px #ababab;
        font-size: 13px;
        color: #ababab;
        padding: 10px 15px 9px 15px;
        display: inline-block;
        margin-right: 12px;
        margin-bottom: 7px;
        cursor: pointer;
    }
}

.game-bg {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-size: cover!important;
    background-position: top!important;
    background-repeat: no-repeat!important;
    opacity: 0.25;
    filter: blur(5px);
}