.top-games-title {
    font-size: 12px;
    font-weight: bold;
    color: #2d1b8e;
    text-transform: uppercase;
}

.top-games-list {
    list-style: none;
    -webkit-padding-start: 0;
}
.top-game {
    margin-bottom: 5px;
    display: block;
    img {
        width: 36px;
        height: 36px;
        object-fit: cover;
    }
    span {
        display: inline-block;
        margin-left: 10px;
        font-size: 12px;
        color: #282121;
    }

}