.top-problems {
    .sort-by {
        display: flex;
        list-style: none;
        -webkit-padding-start: 0;
        align-items: center;
        li {
            opacity: 0.4;
            font-size: 14px;
            color: #282121;
            margin-right: 24px;
            cursor: pointer;
            &.active {
                font-size: 24px;
                font-weight: bold;
                opacity: 1;
            }
        }
    }
}

.problem-entry {
    height: 88px;
    margin-bottom: 19px;
    position: relative;
    display: block;
    .media-left img {
        width: 185px;
        height: 88px;
        object-fit: cover;
        object-position: top;
    }
    .media-body {
        padding-left: 19px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .media-heading {
        font-size: 24px;
        font-weight: bold;
        color: #4a90e2;
        max-width: 430px;
    }
    .media-game {
        font-size: 12px;
        color: #282121;
    }
    .media-date {
        position: absolute;
        right: 20px;
        top: 0;
        width: 85px;
        height: 15px;
        opacity: 0.5;
        font-size: 12px;
        color: #282121;
    }
}

.like {
    position: absolute;
    left: -30px;
    top: 21px;
    text-align: center;
    i {
        color: rgba(255, 75, 75, 0.8);
        font-size: 16px;
    }
    h5 {
        opacity: 0.8;
        font-size: 12.8px;
        font-weight: bold;
        color: #282121;
    }
}