.answer-list {
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    h2 {
        font-family: Lato;
        font-size: 32px;
        font-weight: bold;
        color: #282121;
    }
}
.single-answer {
    position: relative;
    margin-top: 50px;
    padding: 25px 58px 20px 71px;
    .rating {
        left: 26px;
        top: calc(50% - 36px);
        color: #282121;
    }
    .author-info h5 {
        color: #282121;
    }
}