.problem-page{
    .single-problem {
        margin-top: 57px;
        position: relative;
    }
    .game-title {
        font-size: 24px;
        font-weight: bold;
        color: #282121;
        margin-bottom: 34px;
    }
    .author-info {
        margin-bottom: 15px;
        span {
            background-color: #b21d55;
            padding: 5px;
            border-radius: 50px;
            font-size: 12px;
            width: 22px;
            height: 22px;
            color: #fff;
            display: inline-block;
            margin-right: 8px;
            i {
                position: relative;
                top: -3px;
            }
        }
        h4 {
            font-size: 18px;
            font-weight: bold;
            color: #4a90e2;
        }
        h5 {
            margin-left: 17px;
            font-size: 15px;
            color: #cccccc;
        }
        h4, h5 {
            display: inline-block;
        }
    }

    .rating {
        position: absolute;
        top: -8px;
        left: -40px;
        color: #ccc;
        font-size: 24px;
        transition: color 0.3s cubic-bezier(0.55,0,0.1,1);
        text-align: center;
        h4 {
            margin-bottom: 0;
            cursor:pointer;
        }
        i {
            font-size: 24px;
            position: relative;
            left: 0px;
            cursor:pointer;
        }
    }

    .problem-details {
        position: relative;
        h1 {
            font-size: 32px;
            font-weight: bold;
            color: #282121;
            margin-bottom: 34px;
        }
        p {
            font-size: 15px;
            color: #282121; 
            margin-bottom: 23px;
        }
        blockquote {
            background-color: #f6f6f6;
            color: #272727;
            border-radius: 10px;
            position: relative;
            max-width: 532px;
            display: flex;
            align-items: center;
            min-height: 80px;
            padding-left: 20px;
            i {
                font-size: 23px;
                position: relative;
                top: 15px;
                align-self: flex-start;
                color: #828282;
                margin-right: 20px;
            }
        }

        img {
            max-width: 100%;
        }
    }

    .related {
        h5 {
            font-size: 15px;
            color: #282121;
            margin-bottom: 15px;
        }
        ul {
            border-radius: 4px;
            border: solid 1px #cccccc;
            min-height: 532px;
        }
    }

}