@import url('https://cdn.jsdelivr.net/npm/instantsearch.css@7.0.0/themes/algolia-min.css');

.search-view {
    .ais-SearchBox {
        width: 100%;
        font-size: 20px;
        margin-top: 20px;
    }
    .ais-Hits {
        margin-top: 25px;
    }

    .card {
        height: 100%;
    }

    .ais-Hits-item {
        padding: 0;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}